<h3>SignUp</h3>

<div class="Signup">
<form method="POST" action="/user/signup">
  <label>First name</label>
  <input type="text" name="first_name"><br>
  <label>Last name</label>
  <input type="text" name="last_name"><br>
  <label>Email</label>
  <input type="email" name="email"><br>
  <label>Password</label>
  <input type="password" name="password"><br>
  <p>
<input type="submit"
  </p>
</form>
</div>

<div class="Sign bg"></div>
